
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    <div>
        <form action="/Fruta/Store" method="post">

            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" id="campo-nome" />


            <label for="campo-preco">Preco</label>
            <input type="number" name="preco" id="campo-preco" />

            <button type="submit">Salvar</button>
        </form>



    </div>
</body>
</html>
